In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
data = pd.read_csv("Iris.csv")

In [31]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [32]:
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [33]:
data.shape

(150, 6)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [35]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [36]:
x = data.iloc[:,1:5]
y = data.iloc[:,-1]

In [37]:
unique_y = y.unique()
unique_y_no = y.nunique()
print("Unique Name = ",unique_y)
print("Unique Value = ",unique_y_no)

Unique Name =  ['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']
Unique Value =  3

In [38]:
unique_y_count = y.value_counts()
unique_y_count

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,train_size=0.8,random_state=True)

In [41]:
xtrain

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
91             6.1           3.0            4.6           1.4
135            7.7           3.0            6.1           2.3
69             5.6           2.5            3.9           1.1
128            6.4           2.8            5.6           2.1
114            5.8           2.8            5.1           2.4
..             ...           ...            ...           ...
133            6.3           2.8            5.1           1.5
137            6.4           3.1            5.5           1.8
72             6.3           2.5            4.9           1.5
140            6.7           3.1            5.6           2.4
37             4.9           3.1            1.5           0.1

[120 rows x 4 columns]

In [45]:
xtest

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
14             5.8           4.0            1.2           0.2
98             5.1           2.5            3.0           1.1
75             6.6           3.0            4.4           1.4
16             5.4           3.9            1.3           0.4
131            7.9           3.8            6.4           2.0
56             6.3           3.3            4.7           1.6
141            6.9           3.1            5.1           2.3
44             5.1           3.8            1.9           0.4
29             4.7           3.2            1.6           0.2
120            6.9           3.2            5.7           2.3
94             5.6           2.7            4.2           1.3
5              5.4           3.9            1.7           0.4
102            7.1           3.0            5.9           2.1
51             6.4           3.2            4.5           1.5
78             6.0           2.9            4.5           1.5
42             4.4           3.2            1.3           0.2
92             5.8           2.6            4.0           1.2
66             5.6           3.0            4.5           1.5
31             5.4           3.4            1.5           0.4
35             5.0           3.2            1.2           0.2
90             5.5           2.6            4.4           1.2
84             5.4           3.0            4.5           1.5
77             6.7           3.0            5.0           1.7
40             5.0           3.5            1.3           0.3
125            7.2           3.2            6.0           1.8
99             5.7           2.8            4.1           1.3
33             5.5           4.2            1.4           0.2
19             5.1           3.8            1.5           0.3
73             6.1           2.8            4.7           1.2
146            6.3           2.5            5.0           1.9

In [46]:
from sklearn.ensemble import AdaBoostClassifier

In [47]:
ada = AdaBoostClassifier()

In [48]:
ada.fit(xtrain,ytrain)

AdaBoostClassifier()

In [49]:
ada.predict([[5.1,3.5,1.4,0.2]])

c:\Users\ABC\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but AdaBoostClassifier was fitted with feature names
  warnings.warn(

array(['Iris-setosa'], dtype=object)

In [50]:
import pickle

In [51]:
filename = "Ada.pkl"
pickle.dump(ada,open(filename,"wb"))